html{
	max-height: 100%;
	max-width: 100%;
	width: 1920px;
	height: 970px;
	background: #000;

	margin: 0;
	padding: 0;
}
body{
	margin: 0 auto;
}
h1{
	margin: 0;
}
.background{
	max-height: 100%;
	max-width: 100%;
	width: 1920px;
	height: 970px;

	display: flex;
	justify-content: center;
}
.wrapper-background{
	width: 1200px;
	margin: 0;
	position: relative;
	box-sizing: border-box;
	padding-left: 20px;
	padding-right: 20px;
}
.headerText{
	width: 690px;
	height: 156px;
	flex-shrink: 0;
	position: relative;
	top: 42px;
}
.mainHeader{
	font-family: Inter;
	font-size: 50px;
	font-style: normal;
	font-weight: 900;
	line-height: 102.595%;
}
.white{
	color: #FFF;
}
.red{
	color: #FF4343;
}

.vectorsAndImage{
	position: absolute;
	top: 0;
	right: 20px;
}
.lakeSVG{
	position: absolute;
	top: 54px;
	right: -42px;
}
.arrowSVG{
	position: absolute;
	top: 174px;
	right: 0;	
}
.image{
	position: absolute;
	top: 0;
	right: 34.77px;	
	z-index: 2;
}

.dialogRectangles{
	margin-top: 30px;
	position: relative;
	width: 660px;

	display: flex;
	flex-direction: column;
}
.rectangle8{
	position: relative;
	width: 660px;
	height: 189px;
	flex-shrink: 0;
}
.rect8{
	position: absolute;
	top: 30px;
}
.text1{
	width: 385px;
	color: #FFF;
	text-align: right;
	font-family: Inter;
	font-size: 23px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;

	position: absolute;
	margin: 0;
	top: 45px;
	right: 175px;
	z-index: 2;
}
.text2{
	width: 385px;
	color: #FFF;
	text-align: right;
	font-family: Inter;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;

	position: absolute;
	margin: 0;
	top: 116px;
	right: 175px;
	z-index: 2;
}

.rectangle9{
	position: relative;
	width: 500px;
	height: 114px;
	top: 30px;
}
.rect9{
	position: absolute;
	top: 30px;
}
.text3{
	width: 385px;
	color: #FFF;
	text-align: right;
	font-family: Inter;
	font-size: 23px;
	font-style: normal;
	font-weight: 900;
	line-height: normal;

	position: absolute;
	margin: 0;
	top: 45px;
	right: 15px;
	z-index: 2;
}