@media (max-width:1200px){
	.wrapper-background{
		width: 960px;
		max-width: 100%;
		padding-top: 20px;
		padding-left: 21px;
		padding-right: 21px;
		
		display: flex;
    	flex-direction: column;
		align-items: center;
	}
	.headerText{
		width: 300px;
		height: 70px;
		margin-top: 0;
	}
	.mainHeader{
		font-size: 22px;
	}
	.vectorsAndImage{
		width: 300px;
		height: 330px;

		position: relative;
		top: 0;
		right: 0;
	}
	.lakeSVG{
		position: absolute;
		top: 67px;
		right: 0px;

		width: 300px;
		height: 263px;
	}
	.arrowSVG{
		opacity: 0;
		display: none;	
	}
	.image{
		position: absolute;
		top: 2px;
		right: 0px;
		width: 300px;
		height: 329.481px;
	}
	.AboutExpert{
		width: 220px;
		height: 98px;
		padding-right: 80px;
		gap: 5px;

		top: 260px;
		left: 0px;
	}
	.expertName{
		width: 200px;
		color: #FF4343;
		/* Drop Shadow */
		font-size: 34px;

		position: absolute;
		top: 0;
		z-index: 3;
	}
	.buttonExp{
		width: 120px;
		height: 23px;

		border-radius: 14px;
		background: #FFF;

		position: absolute;
		z-index: 3;
		bottom: 0;
	}
	.exc{
		width: 15px;
		height: 15px;
	}
	.buttonText{
		height: 14px;
		font-size: 14px;
	}
	.arrows{
		opacity: 0;
		display: none;	
	}

	.dialogRectangles{
		width: 300px;
		height: auto;
		margin-top: 0;
	}
	.rectangle8{
		width: 300px;
		height: 175.5px;
	}
	.rect8-2{
		display: block;
		position: absolute;
		width: 300px;
		opacity: 1;
	}
	.rect8{
		display: none;
		opacity: 0;
	}
	.text1{
		width: 280px;
		font-size: 15px;
		top: 50px;
		right: auto;
		z-index: 2;
	}
	.text2{
		width: 280px;
		font-size: 15px;

		top: 92px;
		right: auto;
	}

	.rectangle9{
		position: relative;
		width: 300px;
		height: 74px;
		top: auto;
		margin-top: 10px;
	}
	.rect9{
		display: none;
		opacity: 0;
	}
	.rect9-2{
		position: absolute;
		width: 300px;
		height: 74px;
		right: auto;
		display: block;
		opacity: 1;
	}
	.text3{
		width: 280px;
		font-size: 15px;
		position: absolute;
		margin: 0;
		margin-top: 10px;
		top: auto;
		right: auto;
		z-index: 2;
	}
	.containerForButtonAndAdvantages{
		display: flex;
		flex-direction: column-reverse;
	}
/*you Will Get*/
.youWillGet{
	position: relative;
	margin-top: 10px;
	left: 0;

	display: flex;
	gap: 10px;
}
.GetText{
	height: auto;
	font-size: 15px;

	margin: 0;
}
.ver1{
	display: none;
	opacity: 0;
}
.ver2{
	display: block;
	opacity: 1;
}
.allAdvantages{
	position: relative;
	width: 300px;
/*	height: 72px;*/
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
}
.advantage{
	display: flex;
	align-items: flex-start;
	gap: 10px;
}
.first{
	width: 300px;
	height: 45px;	
}
.second{
	width: 300px;
	height: 45px;
}
.third{
	width: 300px;
	height: 45px;
}
.advText1{
	color: #FFF;
	font-size: 15px;

	margin: 0;
}

.downloadButton{
	position: relative;
	margin-top: 12px;

	width: 300px;
	height: 67px;
	z-index: 1;
}
.downButton{
	width: 300px;
	height: 67px;
	padding: 0;
	padding-bottom: 6px;
	box-sizing: border-box;

	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;

	border-radius: 19px;
	background: #FFC6C6;

	box-shadow: 0px 0px 45px 13px rgba(255, 67, 67, 0.30);

	outline: none;
	border: none;
    cursor: pointer;
    z-index: 1;
}
.frontButton{
	display: flex;
	width: 300px;
	padding: 13px 0;
	box-sizing: border-box;
	justify-content: center;
	align-items: center;

	border-radius: 19px;
	background: #FFF;
	transition: all 0.3s ease-out;
	z-index: 2;
}
.frontButtonText{
	width: 200px;
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: 102.595%; 

	margin: 0;
	transition: all 0.2s ease-out;
	z-index: 3;
}
.textUnderDownloadBtn{
	color: #000;
	text-align: center;
	font-family: Inter;
	font-size: 9px;
	font-style: normal;
	font-weight: 400;
	line-height: 102.595%; 

	margin: 0;
	z-index: 3;
}
.popUpWindow{
	display: flex;
	flex-direction: column;
	position: absolute;
	width: 300px;
	height: auto;
	background: #FFF;
	padding: 10px;
	border-radius: 14px;
	bottom: -175px;
	right: auto;
	z-index: 9;
	box-sizing: border-box;
	transition: all 0.5s ease-out;
}
.hidden{
	opacity: 0;
	display: none;
	z-index: 0;
}
.headerTextInPopUp{
	font-size: 20px;
	padding-bottom: 10px;
}
.anotherTextInPopUp{
	font-size: 12px;
	padding-top: 0;
}
.header2TextInPopUp{
	font-size: 12px;
	padding-bottom: 10px;
}
	.listStyle{
		margin: 0;
		padding-inline-start: 0px;
		list-style-type: none;
	}
	li::before{
		content: "-"; /* Маркер списка */
	    padding-right: 0.5em;
	}
	.union{
		top: 10px;
		right: 10px;

		width: 21px;
		height: 21px;
	}

}